body {
  background-color: powderblue;
}
h1 {
  color: #00008B;
}

h2 {
  color: #00008B;
}
h3 {
  color: #00008B;
}
p {
  color: black;
}
.ejemplos {
   color:black;
}
.marcado {
	color:red;
}
.marcado2 {
	color:#B22222;
}
.marcado3 {
	color:#0000CD;
}
.fondoejemplo{
	background-image:url('fondo1.jpg');
}
.black{
	color:black;
}
.borde {
   border: 2px solid black;
}
.relleno {
   border: 2px solid black;
   padding:30px;
}
.margen {
   border: 2px solid black;
   margin:50px;
}