body {
  background-color: #141414;
  font-family: Georgia, serif;
}
h1 {
  color: #00008B;
}
p {
  color: #8B0000;
}
.marcado {
	color:#E50914 ;
}
.blanco {
	color:#FFFFFF;
}
table, th, td {
  margin: 17px;
  padding: 10px;
  border-collapse: collapse;
}
.borde{
	border:1px solid white;
    color:#FFFFFF;
}

li{ 
  display:inline; 
  padding:0 30%;
} 
ul { 
display: inline-block; text-align: left; 
}
div { text-align: center; }