body {
  background-color: powderblue;
}
h1 {
  color: #00008B;
}
h4 {
  color: #00008B;
}
p {
  color: #8B0000;
}
.black{
	color:black;
}

footer {
  clear: both;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  left: 800px;
  padding: 1%;
}