body {
  background-color: #25274D;
}
h1 {
  color: #FFFFFF;
}
h2 {
  color: #FFFFFF;
}
h3 {
  color: #FFFFFF;
}
h4 {
  color: #FFFFFF;
}
p {
  color: #FFFFFF;
}
ul, li {
  color: #FFFFFF;
}

.blanco{
  color: #FFFFFF;
}

.marcado{
   color: red;
}